* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    background-color: black;
}

nav {
    display: flex;
    gap: 40px;
    margin-right: 50px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.hero {
    padding: 180px 0 100px 0;
    background-image: url(top.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.hero p {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}


#about,
#services,
#contact {
    padding: 80px 0;
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

ul {
    list-style: none;
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    text-align: left;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

textarea {
    grid-column: 1 / 3;
    height: 150px;
    resize: none;
}

button {
    grid-column: 1 / 3;
    padding: 10px 0;
    background-color: #fda200;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

footer {
    padding: 20px 0;
    background-color: black;
    color: white;
    text-align: center;
}
